.stage_2 {
    height: 300px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background: $smoke;
  
    img {
      width: 50px;
      align-items: center;
      justify-content: center;
    }
  
    h1 {
      margin-top: 15px;
      margin-bottom: 10px;
    }
  
    .responsive,
    .bootstrap,
    .easy {
      align-items: center;
      text-align: center;
    }
  
    p {
      line-height: 25px;
      width: 250px;
    }
  }
  